{% extends "base.html" %}
{% block content %}
  <h2>Search Results</h2>
  <br/>
  Searh query: {{ search_query }}
  <br/>
  total results: {{ total_results }}
  <div class="container">
    {% if all_results %}

      {% for collection_name,results in all_results.items() %}
        <!-- title -->
        <h3>{{ collection_name }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Thread Title</th>
                <th>Post</th>
            </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                    <td><a href="{{ result['thread_link'] }}">{{ result['thread_title'] }}</a></td>
                    <td>{{ result['html']|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      {% endfor %}
    {% else %}
      <p>No results found.</p>
    {% endif %}

  </div>
{% endblock %}
