{% extends "base.html" %}
{% block content %}
<h2>{{ thread.title }}</h2>
<p>By {{ thread.author.username }} on {{ thread.date }}</p>
<hr>
<div class="container">
    {% for post in posts %}
    <div class="card mb-3 border border-primary">
        <div class="card-header">
            {{ post.author.username }} on {{ post.datetime }}
        </div>
        <div class="card-body">
            {{ parse_html(post.html, mark) | safe }}
        </div>
    </div>
    <br>
    <hr>
    {% endfor %}
</div>


<!-- Pagination links -->
{% if num_pages > 1 %}
    <div class="pagination">
        {% if current_page == 1%}
            <a href="{{ url_for('thread', collection_name=collection_name, thread_id=thread['_id'], page=1) }}" class="current-page {{'disabled' if current_page == 1 else ''}}" style="color: white; background-color: black; background: black;">{{ 1 }}</a>
        {% else %}
            <a href="{{ url_for('thread', collection_name=collection_name, thread_id=thread['_id'], page=1) }}" class="current-page {{'disabled' if current_page == 1 else ''}}" >{{ 1 }}</a>
        {% endif %}

        {% if prev_page %}
            <a href="{{ url_for('thread', collection_name=collection_name, thread_id=thread['_id'], page=prev_page) }}">&laquo; Prev</a>
        {% endif %}

        <!-- if -->
        {% if current_page != 1 and current_page != num_pages %}
            <a class="current-page disabled" style="background-color: black; color: white; background: black;">{{ current_page }}</a>
        {% endif %}

        {% if next_page %}
            <a href="{{ url_for('thread', collection_name=collection_name, thread_id=thread['_id'], page=next_page) }}">Next &raquo;</a>
        {% endif %}

        {% if current_page == num_pages%}
            <a href="{{ url_for('thread', collection_name=collection_name, thread_id=thread['_id'], page=num_pages) }}" class="current-page {{'disabled' if current_page == num_pages else ''}}" style="color: white; background-color: black; background: black;">{{ num_pages }}</a>
        {% else %}
            <a href="{{ url_for('thread', collection_name=collection_name, thread_id=thread['_id'], page=num_pages) }}" class="current-page {{'disabled' if current_page == num_pages else ''}}">{{ num_pages }}</a>
        {% endif %}

    </div>

{% endif %}

{% endblock %}